{% extends 'base.html' %}
{% block content %}
<p class="lh-lg"></p>
<h1>Lista de Inmuebles</h1>
<p class="lh-lg"></p>
<table class="table">
    <thead class="table-primary h6 align-middle col text-center">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>M2 Construidos</th>
            <th>M2 Totales</th>
            <th>Estacionamientos</th>
            <th>Habitaciones</th>
            <th>Baños</th>
            <th>Dirección</th>
            <th>Comuna</th>
            <th>Valor Mensual</th>
            <th>Estado</th>
            <th>Tipo</th>
            <th>Acciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for inmueble in inmuebles %}
        <tr>
            <td>{{ inmueble.nombre }}</td>
            <td>{{ inmueble.descripcion }}</td>
            <td>{{ inmueble.m2_construidos }}</td>
            <td>{{ inmueble.m2_totales }}</td>
            <td>{{ inmueble.cantidad_estacionamientos }}</td>
            <td>{{ inmueble.cantidad_habitaciones }}</td>
            <td>{{ inmueble.cantidad_banos }}</td>
            <td>{{ inmueble.direccion }}</td>
            <td>{{ inmueble.comuna.nombre }}</td>
            <td>{{ inmueble.valor_mensual_arriendo }}</td>
            <td>{{ inmueble.estado_inmueble.nombre }}</td>
            <td>{{ inmueble.tipo_inmueble.nombre }}</td>
            <td>
                <a href="{% url 'actualizar_inmueble' inmueble.id %}" class="btn btn-primary">Actualizar</a>
            </td>
            <td>
                <form method="POST" action="{% url 'eliminar_inmueble' inmueble.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}