{% extends 'base.html' %}
{% block content %}
<p class="lh-lg"></p>
<h1>Perfil de {{user.get_username|upper}}</h1>
<p class="lh-lg"></p>
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <label for="rut">RUT:</label>
        <input  type="text" id="rut" name="rut" style="margin-bottom: 20px; color: darkgray;" value="{{ usuario.rut }}" maxlength="9" readonly required><br>

        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" style="margin-bottom: 20px;" value="{{ usuario.nombres }}" maxlength="100" required><br>

        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" style="margin-bottom: 20px;" value="{{ usuario.apellidos }}" maxlength="100" required><br>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" style="margin-bottom: 20px;" value="{{ usuario.direccion }}" maxlength="100" required><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" style="margin-bottom: 20px;" value="{{ usuario.telefono }}" maxlength="11" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" style="margin-bottom: 20px; color: darkgray;" value="{{ usuario.email }}" maxlength="30" readonly required><br>

        <div class="col-md-3">
        <label for="tipo_usuario">Tipo de Usuario:</label>
        <select class="form-select" name="tipo_usuario" style="margin-bottom: 20px;" id="tipo_usuario" required>
            <option selected value="{{ usuario.tipo_usuario.id }}">{{ usuario.tipo_usuario.descripcion }}</option>
            <option value="1">Arrendatario</option>
        </select>
    </div>
        <button type="submit" class="btn btn-primary" >Actualizar</button>
    </div>
</form>
{% endblock %}