
{% extends 'base.html' %}
{% block content %}
<form action="" method="POST" class="row g-3">
    {% csrf_token %}
    <p class="lh-lg"></p>
    <p class="fs-3">Registro de Usuario</p>
    <p class="lh-lg"></p>
    <div class="col-md-4">
        <label class="form-label">Rut</label>
        <input type="text" maxlength="9" name="rut" class="form-control" id="rut" placeholder="rut" required/>
    </div>
    <div class="col-md-4">
        <label class="form-label">First name</label>
        <input type="text" name="nombres" class="form-control" id="nombres" placeholder="nombres" required>
    </div>
    <div class="col-md-4">
        <label class="form-label">Last name</label>
        <input type="text" name="apellidos" class="form-control" id="apellidos" placeholder="apellidos" required>
    </div>
    <div class="col-md-6">
        <label class="form-label">Direccion</label>
        <input type="text" name="direccion" class="form-control" id="direccion" placeholder="direccion" required>
    </div>
    <div class="col-md-3">
        <label class="form-label">Telefono</label>
        <input type="text" maxlength="11" name="telefono" class="form-control" id="telefono" placeholder="telefono" required>
    </div>
    <div class="col-md-3">
        <label class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required> 
    </div>
    <div class="col-md-4">
        <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="username" required>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="col-auto">
            <span id="requiredmessage" class="form-text">
                Must be 8-20 characters long.
            </span>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Reingresa nuevamente la Password</label>
        </div>
        <div class="col-auto">
            <input type="password" name="password2" id="password2" class="form-control" required>
        </div>
        <div class="col-auto">
            <span id="password2message" class="form-text">
                Must be 8-20 characters long.
            </span>
        </div>
    </div>
    <div class="col-md-3">
        <label class="form-label">Tipo de Usuario</label>
        <select class="form-select" name="tipo_usuario" id="tipo_usuario" required>
            <option selected disabled value="">Elija el tipo de usuario</option>
            <option value="1">Arrendatario</option>
            <option value="2">Arrendador</option>
        </select>
    </div>
    <p class="lh-lg"></p>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Registrar</button>
        <p class="lh-lg"></p>
        <p> Tienes una cuenta? <a href="/login/">Login</a></p>
    </div>  
</form>
{% endblock %}