{% extends 'base.html' %}
{% block content %}
<p class="lh-lg"></p>
<h1 class="mt-5">Actualizar Inmueble</h1>
<p class="lh-lg"></p>
<form method="POST" action="{% url 'actualizar_inmueble' inmueble.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ inmueble.nombre }}" required>
    </div>
    <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ inmueble.descripcion }}" required>
    </div>
    <div class="form-group">
        <label for="m2_construidos">Metros Cuadrados Construidos:</label>
        <input type="number" class="form-control" id="m2_construidos" name="m2_construidos" value="{{ inmueble.m2_construidos }}" required>
    </div>
    <div class="form-group">
        <label for="m2_totales">Metros Cuadrados Totales:</label>
        <input type="number" class="form-control" id="m2_totales" name="m2_totales" value="{{ inmueble.m2_totales }}" required>
    </div>
    <div class="form-group">
        <label for="cantidad_estacionamientos">Cantidad de Estacionamientos:</label>
        <input type="number" class="form-control" id="cantidad_estacionamientos" name="cantidad_estacionamientos" value="{{ inmueble.cantidad_estacionamientos }}" required>
    </div>
    <div class="form-group">
        <label for="cantidad_habitaciones">Cantidad de Habitaciones:</label>
        <input type="number" class="form-control" id="cantidad_habitaciones" name="cantidad_habitaciones" value="{{ inmueble.cantidad_habitaciones }}" required>
    </div>
    <div class="form-group">
        <label for="cantidad_banos">Cantidad de Baños:</label>
        <input type="number" class="form-control" id="cantidad_banos" name="cantidad_banos" value="{{ inmueble.cantidad_banos }}" required>
    </div>
    <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" class="form-control" id="direccion" name="direccion" value="{{ inmueble.direccion }}" required>
    </div>
    <div class="form-group">
        <label for="comuna">Comuna:</label>
        <select class="form-control" id="comuna" name="comuna" required>
            {% for comuna in comunas %}
                <option value="{{ comuna.id }}" {% if comuna.id == inmueble.comuna.id %}selected{% endif %}>{{ comuna.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="valor_mensual_arriendo">Valor Mensual de Arriendo:</label>
        <input type="number" class="form-control" id="valor_mensual_arriendo" name="valor_mensual_arriendo" value="{{ inmueble.valor_mensual_arriendo }}" required>
    </div>
    <div class="form-group">
        <label for="estado_inmueble">Estado del Inmueble:</label>
        <select class="form-control" id="estado_inmueble" name="estado_inmueble" required>
            {% for estado in estados_inmueble %}
                <option value="{{ estado.id }}" {% if estado.id == inmueble.estado_inmueble.id %}selected{% endif %}>{{ estado.descripcion }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="tipo_inmueble">Tipo de Inmueble:</label>
        <select class="form-control" id="tipo_inmueble" name="tipo_inmueble" required>
            {% for tipo in tipos_inmueble %}
                <option value="{{ tipo.id }}" {% if tipo.id == inmueble.tipo_inmueble.id %}selected{% endif %}>{{ tipo.descripcion }}</option>
            {% endfor %}
        </select>
    </div>
    <p class="lh-lg"></p>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
{% endblock %}