{% extends 'base.html' %}
{% block content %}
<p class="lh-lg"></p>
<h1 class="mt-3">Agregar Inmueble</h1>
<p class="lh-lg"></p>
<form method="POST" action="{% url 'agregar_inmueble' %}">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" style="margin-bottom: 20px;" value="{{ nombre }}" required><br>

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" style="margin-bottom: 20px;" value="{{ descripcion }}" required><br>

    <label for="m2_construidos">Metros Cuadrados Construidos:</label>
    <input type="number" id="m2_construidos" name="m2_construidos" style="margin-bottom: 20px;" value="{{ m2_construidos }}" required><br>

    <label for="m2_totales">Metros Cuadrados Totales:</label>
    <input type="number" id="m2_totales" name="m2_totales" style="margin-bottom: 20px;" value="{{ m2_totales }}" required><br>

    <label for="cantidad_estacionamientos">Cantidad de Estacionamientos:</label>
    <input type="number" id="cantidad_estacionamientos" name="cantidad_estacionamientos" style="margin-bottom: 20px;" value="{{ cantidad_estacionamientos }}" required><br>

    <label for="cantidad_habitaciones">Cantidad de Habitaciones:</label>
    <input type="number" id="cantidad_habitaciones" name="cantidad_habitaciones" style="margin-bottom: 20px;" value="{{ cantidad_habitaciones }}" required><br>

    <label for="cantidad_banos">Cantidad de Baños:</label>
    <input type="number" id="cantidad_banos" name="cantidad_banos" style="margin-bottom: 20px;" value="{{ cantidad_banos }}" required><br>

    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion" style="margin-bottom: 20px;" value="{{ direccion }}" required><br>

    <label for="comuna">Comuna:</label>
    <select id="comuna" name="comuna" style="margin-bottom: 20px;" required>
        {% for comuna in comunas %}
            <option value="{{ comuna.id }}" {% if comuna.id == comuna_id %}selected{% endif %}>{{ comuna.nombre }}</option>
        {% endfor %}
    </select><br>

    <label for="valor_mensual_arriendo">Valor Mensual de Arriendo:</label>
    <input type="number" id="valor_mensual_arriendo" name="valor_mensual_arriendo" style="margin-bottom: 20px;" value="{{ valor_mensual_arriendo }}" required><br>

    <label for="estado_inmueble">Estado del Inmueble:</label>
    <select id="estado_inmueble" name="estado_inmueble" style="margin-bottom: 20px;" required>
        {% for estado in estados_inmueble %}
            <option value="{{ estado.id }}" {% if estado.id == estado_inmueble_id %}selected{% endif %}>{{ estado.descripcion }}</option>
        {% endfor %}
    </select><br>

    <label for="tipo_inmueble">Tipo de Inmueble:</label>
    <select id="tipo_inmueble" name="tipo_inmueble" style="margin-bottom: 20px;" required>
        {% for tipo in tipos_inmueble %}
            <option value="{{ tipo.id }}" {% if tipo.id == tipo_inmueble_id %}selected{% endif %}>{{ tipo.descripcion }}</option>
        {% endfor %}
    </select><br>

    <button type="submit" name="accion" class="btn btn-primary" value="guardar">Guardar</button>
</form>

{% endblock %}