{% extends 'base.html' %}
{% block content %}
<section name="welcome-area">
    <div class="bg-primary align-middle mt-4 ">
        <div class="row justify-content-left">
            <div class="col-md-12 col-xs-12 align-items-center mt-4">
                <p class="fw-bold fs-4" style="margin-left: 35px; text-align: left; color: white;">Bienvenido
                    {{user.get_username|upper}}
                </p>
            </div>
            <div class="row justify-content-left">
                <div class="col-md-12 col-xs-12 align-items-center">
                    <p class="fs-6" style="text-align: left; color: white; margin-left: 35px;">Arrienda tu propiedad en tiempo record! ¿Quieres conocer más?</p>
                </div>
            </div>
            <div class="row justify-content-left mb-4 mt-2">
                <div class="col-md-12 col-xs-12 align-items-center">
                    <a href="#">
                        <button id="empezar" type="button" class="btn btn-outline-light" style="margin-left: 35px;">
                            Contáctanos
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section name="cards">
    <div class="row justify-content-center align-items-center" style="margin-top: 5px; margin-bottom: 30px;">
    </div>
</section>
{% endblock %}