{% extends 'base.html' %}
{% block content %}
<p class="lh-lg"></p>
<h1>Lista de Inmuebles Disponibles para Arriendo</h1>
<p class="lh-lg"></p>
<!-- Filtros de Región y Comuna -->
<form method="GET" action="">
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="region">Región</label>
            <select id="region" name="region" class="form-control" onchange="this.form.submit()">
                <option value="">Todas las Regiones</option>
                {% for region in regiones %}
                <option value="{{ region.id }}" {% if selected_region == region.id|stringformat:"s" %}selected{% endif %}>{{ region.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-6">
            <label for="comuna">Comuna</label>
            <select id="comuna" name="comuna" class="form-control" onchange="this.form.submit()">
                <option value="">Todas las Comunas</option>
                {% for comuna in comunas %}
                <option value="{{ comuna.id }}" {% if selected_comuna == comuna.id|stringformat:"s" %}selected{% endif %}>{{ comuna.nombre }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>
<table class="table">
    <thead class="table-primary h6 align-middle col text-center">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>M2 Construidos</th>
            <th>M2 Totales</th>
            <th>Estacionamientos</th>
            <th>Habitaciones</th>
            <th>Baños</th>
            <th>Dirección</th>
            <th>Comuna</th>
            <th>Valor Mensual</th>
            <th>Tipo</th>
            <th>Acciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for inmueble in inmuebles %}
        <tr>
            <td>{{ inmueble.nombre }}</td>
            <td>{{ inmueble.descripcion }}</td>
            <td>{{ inmueble.m2_construidos }}</td>
            <td>{{ inmueble.m2_totales }}</td>
            <td>{{ inmueble.cantidad_estacionamientos }}</td>
            <td>{{ inmueble.cantidad_habitaciones }}</td>
            <td>{{ inmueble.cantidad_banos }}</td>
            <td>{{ inmueble.direccion }}</td>
            <td>{{ inmueble.comuna.nombre }}</td>
            <td>{{ inmueble.valor_mensual_arriendo }}</td>
            <td>{{ inmueble.tipo_inmueble.descripcion }}</td>
            <td>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEliminar{{ inmueble.id }}">Solicitar</button>
            </td>
            <!--<td>
                <a href="{% url 'actualizar_inmueble' inmueble.id %}" class="btn btn-primary">Solicitar</a>
            </td>
             <td>
                <form method="POST" action="{% url 'eliminar_inmueble' inmueble.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% for inmueble in inmuebles %}
<!-- Modal -->
<div class="modal fade" id="modalEliminar{{ inmueble.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalEliminarLabel{{ inmueble.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEliminarLabel{{ inmueble.id }}">Eliminar Inmueble</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea solicitar el arriendo de este el inmueble?
            </div>
            <div class="modal-footer">                        
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Solicitar</button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}